/* section1 styling */

header{ background-color: black; display: flex; flex-direction: row; justify-content:space-around;align-items: center; padding: 10px; width: 100%;}
body{ margin: 0; padding: 0;}
#logo{height: 45px;}
ul{display: flex; flex-direction: row; gap: 30px; list-style-type: none;}
li a{color: white; text-decoration: none; font-weight: bold; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
#download{border-right: 3px solid white; padding-right: 25px;}
#s1{ overflow:hidden ;    background-color: fuchsia; display:flex;  flex-direction: row; align-content: space-between; align-items: center; gap: 20px; height:600px; width: 100%;}
#mobile{height: 600px; margin-left: 300px; margin-top:170px ;  }
#sb1{  height: 45px; border-radius: 30px; width: 200px;  font-weight: bolder; border: none;}
h1{ text-shadow: 2px 2px 4px #000000;color: white; font-size: 490%; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
#ul2{display: flex; flex-direction: column; align-items:first-baseline; align-content:unsafe}
#sb1:hover{ background-color: #000000; color:white; cursor: pointer;}
#sb2:hover{ background-color: #000000; color:white; cursor: pointer;}
/* section1 style end */

/* section2 styling */

#free{ font-size: 50px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  text-shadow: 2px 2px 4px #000000; text-align: center;}


.imgwhy {width:150px; height:150px;}
/* section2 styling  end */
/* section 3 styling */
#s3{background-color: rgb(227, 60, 227); height: 500px; display: flex; flex-direction: row; justify-content: center; align-items:center; color: white;}

/* section 3 style end */

/* section 4 style */

#s4{ height: 500px; width:100%; display: flex; flex-direction: column; justify-content:center; align-items: center;}
#list{ list-style-type: defalt;}
/* s4 end */
/* s5 */
#s5{ background-color:  rgb(227, 60, 227); height:500px; display: flex; flex-direction: column; justify-content:center; align-items: center;}
#sb2{ height: 45px; border-radius: 30px; width: 200px;  font-weight: bolder; border: none;}
/* s5 end */
/* s6 */
#s6{ background-color: black; height: 600px;}
#logolast{height: 45px; margin-top: 30px; }
 



h5{ padding: 18px 20px; font-size: x-large;}
#arrow{height:40px; width: 30px; }

#facebook,#instagram,#twitter{height:2%; width: 2%; border: 2px;}
#dark{display: flex; flex-direction:inherit;}

#s6{color:white; display: flex; flex-direction: row;  justify-content:center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}


#lastlist1,#lastlist2,#lastlist3{ display: flex; flex-direction: column;}
#company, #communities, #usefullink{ color:darkgrey;}
 #lastlist3 li:hover{color:chartreuse;}
 #lastlist2 li:hover{color:chartreuse;}
 #lastlist1 li:hover{color:chartreuse;}


 ul li a:hover{color: chartreuse;}
 #dark{display: flex; flex-direction: row; justify-content:space-around;  width: 90%; height:90%; margin-top: 30px;}
 #iconlist{ display: flex; flex-direction: row; justify-content:space-around;}

#select1:hover{ background-color:rgb(237, 236, 236) }
#select2:hover{ background-color: rgb(237, 236, 236)}
#select3:hover{ background-color:rgb(237, 236, 236)}
#select4:hover{ background-color: rgb(237, 236, 236)}
#select1,#select2,#select3,#select4{width: 80%; height:15%; padding: 18px 16px; border: none; font-size: medium;}

.s2{height:600px; width:100%;display: flex; flex-direction: column; justify-content:space-around; text-align: center;  }
ol{display: flex; flex-direction: row;list-style-type: none; justify-content: space-between;}
h3{ font-size: larger; font-size:x-large; }
span{font-family: arial; font-weight: 300; font-size: medium; text-align:justify}

h2{font-size:300% ;font-family: arial;}
section{ width: 100%;}
